<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <table style = "width: 100%" border = "1">
  <tr>
  <td>
  <a href = "/umbrella">Umbrella</a>
  </td>
  <td>
  <a href = "/openai">Single Message</a>
  </td>
  <td>
  <a href = "/openai_record">Stored Messages</a>
  </td>
  </tr>
  </table>
    <%= yield %>
  </body>
</html>
