<h1>Ask a question</h1>
<h1></h1>
<form action="/openai_record" method = "post">
<label for = "usermessage">Your message: </label>
<input for = "usermessage" type = "text" name = "message">
<button>Submit</button>
</form>
<p><%= @answer_ai %>a</p>
