<h1></h1>
<form action="/single_ai_result" method = "post">
<label for = "usermessage">Your message: </label>
<input for = "usermessage" type = "text" name = "message">
<button>Submit</button>
</form>
