<h1>Should i take a umbrella</h1>

<form action="/proccess_umbrella" method="post">
<label for ="location" >Where are you located</label>
<input for ="location" type ="text" name="user_loc">

<button>Submit</button>
</form>
